html {
  overflow-y: scroll;
}

#title {
  padding: 50px;
}

iframe {
  width: 700px; 
  height: 394px;
  margin: auto;
  display: block;
}

#list {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: left;
}

summary {
  font-weight: 700;
}

summary:hover {
  cursor: pointer;
}

details {
  padding: 10px;
  display: block;
  max-width: 60%;
  margin: auto;
  margin-bottom: 2px;
  border-bottom: 1px solid #aaa;
}

details[open] summary ~ * {
  animation: sweep 1s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0}
}

li {
  padding: 5px;
}