html {
  overflow-y: scroll;
}

#content {
  font-family: Karla, Tahoma, Geneva, sans-serif;
  font-weight: 400;  
  line-height: 1.5;
}

#title {
  color: #3399ff;
  font-family: 'Book Antiqua', 'Goudy Old Style', serif;
  font-size: 60px;
  font-weight: 800;
  padding: 50px;
  text-align: center;
}

#about {
  font-size: 15px;
}

#about-blurb {
  text-align: center;
  margin: auto;
  max-width: 60%;
  word-wrap: break-word;
  padding-bottom: 20px;
}

iframe {
  margin: auto;
  padding: 10px;
  display: block;
}

#list {
  padding-top: 20px;
  padding-bottom: 50px;
}

summary {
  font-weight: 700;
}

summary:hover {
  cursor: pointer;
}

details {
  padding: 10px;
  display: block;
  max-width: 60%;
  margin: auto;
  margin-bottom: 2px;
  border-bottom: 1px solid #aaa;
}

details[open] summary ~ * {
  animation: sweep 1s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0}
}

li {
  padding: 5px;
}