body {
  text-align: center;
  font-family: Karla, Tahoma, Geneva, sans-serif;
  font-weight: 400;
}

#title {
  color: #327da8;
  font-size: 60px;
}

#about {
  font-size: 14px;
}

a {
  color: inherit;
  -webkit-transition: color 0.3s;
}
