body {
  font-family: Karla, Tahoma, Geneva, sans-serif;
  font-weight: 400;
}

.content {
  text-align: center;
  
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

#title {
  color: #3399ff;
  font-size: 60px;
}

#about {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed #3399ff;
  -webkit-transition: color 0.3s;
}

a:hover {
    color: #3399ff;
}
